 body{

    /* background-color: cadetblue;
background-image: url(img/eth.jpg); */
background-size: 100% 100%;
background-repeat: no-repeat;
background-position: center;
background-attachment: fixed;
} 
/* h1{
    color: rgb(0, 0, 0);
    background-color: azure;
    background-color: rgb(48, 126, 126);
}
  */


#heading{

color:aqua;
background-color: black;
text-align: center;

}
 p{
    color: rgb(0, 0, 0);
   text-align: justify  /* even spacing b/w words */
    ;
 }