#nDiv{
    width: 300px;
    height: 100px;
    background-color: orchid;
    border: 2px solid black;
    
}

/* using transform */

#myDiv{
    width: 300px;
    height: 100px;
    background-color: orchid;
    border: 2px solid black;
   /* transform: rotate(-30deg); */
   /* transform: scale(0.5,2);  width half height double and *it also works with scaleX, scaleY**/
   /* transform: translateY(20px); moves 20px to right */
   /* transform: skew(20deg,30deg); weirdly rotates itself */

}