 body{

    /* background-color: cadetblue;
background-image: url(img/eth.jpg); */
background-size: 100% 100%;
background-repeat: no-repeat;
background-position: center;
background-attachment: fixed;
} 
/* h1{
    color: rgb(0, 0, 0);
    background-color: azure;
    background-color: rgb(48, 126, 126);
}
  */


#heading{

height: 100px;
width: 200px;
border: 5px solid;
padding: 20px;
 margin : 10px 20px 10px 5px; /* top right down left */


/* box size : width is 275 px and height is 175px */
}
/* .para{
    color: rgb(0, 0, 0);
  
    background-color:orange;
} */